@import url("./reset.css");

@import url(https://fonts.googleapis.com/css2?family=Forum&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);


* {
  box-sizing: border-box;
}



body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Forum", serif;
}

.header {
  background-color: #0C0C0E;
  color: #FFFFFF;
  padding: 20px;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 40px;
}

.header__wrapper {
  justify-content: space-between;
  padding: 0;
  flex-direction: row;
}

.header__title {
  color: #FFF;
  font-family: "Forum", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}
.header__nav {
  margin-left: auto;
}
.header__list {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  display: flex;
  gap: 30px;
}
.header__item {
}
.header__link {
  display: block;
}
.header__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.main {
  display: flex;
  flex-direction: column;
}

/* WELCOME */

.welcome {
  width: 100%;
  height: 600px;
  padding-top: 220px;
  background-image: url("../assets/img/welcome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.title-wrapper {

  width: 100%;
  max-width: 600px;
  height: 220px;
  background-color: #0C0C0E;
  padding: 35px 40px;

}

.welcome__title {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* ABOUT */

.about {
}
.about__wrapper {
}

.section-title {
  position: relative;
  padding-bottom: 20px;
  color: #0C0C0E;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

}

.about__title {
  margin-bottom: 40px;
}

.section-text {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 20px;
}

.carousel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 35px;
}
.carousel__img-holder {
  max-width: 450px;
  max-height: 560px;
}
.carousel-img {
  width: 100%;
  height: 100%;
}

.pagination {
  width: 80px;
  height: 26px;
  display: flex;
}

.pagination__item {
  width: 26px;
  height: 26px;
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item:hover:not(:first-child) {
  background-color: #a6a4a4;
  border-radius: 5px;
}

.pagination__dot {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
}

.pagination__dot--active {
  background-color: #BB945F;
  cursor:auto
}

/* FAVORITES */

.favorites {
}

.favorites__wrapper {
  padding-top: 16px;
}

.about__title {
}

.favorites__text {
  align-self: flex-start;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-list {
  align-self: flex-start;
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  gap: 90px;
  margin-bottom: 30px;
}

.input-item {
}

.input-item--winter {
  width: 100%;
  max-width: 104px;
}

.input-item--spring {
  width: 100%;
  max-width: 99px;
}

.input-item--summer {
  width: 100%;
  max-width: 116px;
}

.input-item--autumn {
  width: 100%;
  max-width: 111px;
}

.control {
  position: relative;
  display: block;
  padding: 10px 0;
  padding-left: 37px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 15px;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #000;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 50%;
  content: "";
}

.control-label {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.control-input[type="radio"]:checked ~ .control-label {
  font-weight: 700;
}

.favorites-list {
  align-self: flex-start;
  width: 100%;
  max-width: 1360px;
  height: 1150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 260px;
  grid-row-gap: 40px;
}

.favorites-list--spring,.favorites-list--summer,.favorites-list--autumn {
  display: none;
}

.favorites-item {
  position: relative;
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-height: 555px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  background: #FFF;
}

.favorites-item__staff {
  position: relative;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.favorites-item__staff::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #BB945F;
  width: 60px;
  height: 1px;

}

.favorites-item__title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.favorites-item__author {
  text-transform: uppercase;
}

.favorites-item__description {
  width: 100%;
  max-width: 355px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites-item__btn {
  padding: 9px 5px;
  width: 75px;
  color: #0C0C0E;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  max-width: 75px;
  margin-top: auto;
}

.favorites-item__btn--disabled {
  color: #BB945F;
  border: 1px solid #BB945F
}

.favorites-item__btn:not(:disabled) {
  cursor: pointer;
}

.favorites-item__btn:hover:not(:disabled) {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
  transition: .8s;
}


.favorites-item__book-holder {
  position: absolute;
  bottom: -1px;
  right: -41px;
}

.favorites-item__book-img {
  display: block;
}

/* COFFEE-SHOP */

.coffee {
}

.coffee__wrapper {
}

.coffee__title {
  margin-bottom: 40px;
}

.coffee__text {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 40px;

}
.coffee__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.coffee__prices-list {
  
}
.coffee__prices-title {
  color: #BB945F;
  font-family: "Forum", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee__prices-item {
  position: relative;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.coffee__prices-item--right {
  justify-content: flex-end;
  gap: 220px;
}

.coffee__coffee-name {
  
}

.coffee__prices-price {
  position: relative;
  color: #000;
  font-family: "Forum", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee__prices-price::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 85px;
  width: 100px;
  height: 1px;
  background-color: #BB945F;
}

.coffee__prices-left {
  width: 100%;
  max-width: 438px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.coffee__prices-right {
  text-align: right;
  width: 100%;
  max-width: 482px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* CONTACTS */

.contacts {
}

.contacts__wrapper {
  padding: 20px 0 40px;
  gap: 40px;
}

.contacts__title {
}

.contacts-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contacts__phones-mails {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts__list-title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts__library-title {
  margin-bottom: 20px;
}

.contacts__phones-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts__phone-item {
  color: #000;
  font-family: "Inter",sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts__mails-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__mails-item {
  color: #000;
  font-family: "Inter",sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts__mail {
  font-weight: 700;
}

.contacts__map {
  max-width: 696px;
  max-height: 414px;
}

.contacts__map-img {
  width: 100%;
  height: 100%;
}

/* LIBRARY CARDS */

.cards {
}

.cards__wrapper {
  gap: 40px;
}

.cards__title {
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-wrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.form-wrapper__title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.find-form {
  width: 100%;
  max-width: 600px;
  max-height: 386px;
  padding: 18px 18px 28px 18px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  border: 3px solid #BB945F;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.find-form__inner {
  background-color: #BB945F;
  padding: 20px 20px 0 20px;
}

.form-title {
  color: #000;
  font-family: "Forum", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 8px 20px;
  color: #000;
  font-family: "Forum", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  border: none;
  border-radius: 10px;
  background: #FFF;
  margin-bottom: 25px;
}

.form-input::placeholder {
  color: #8E8E8E;
  font-family: "Forum", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.form-btn {
  padding: 9px 25px;
  width: 100%;
  max-width: 242px;
  color: #0C0C0E;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: inherit;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  cursor: pointer;
}

.get-wrapper {
  width: 100%;
  max-width: 456px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 35px;
}

.get-title {
  color: #000;
  text-align: center;
  font-family: "Forum", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.get-description {
  color: #000;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
}

.btns-wrapper {
  width: 100%;
  height: 35px;
  max-width: 170px;
  display: flex;
  gap: 20px;
}

.get-btn {
  width: 100%;
  max-width: 75px;
  padding: 10px;
  background-color: inherit;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
}

.form-btn:hover, .get-btn:hover {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
  transition: .8s;
}

/* FOOTER */

.footer {
  background-color: #0C0C0E;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer__wrapper {
  padding-bottom: 44px;
}

.footer-top {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.footer-top::after {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 1px;
  background-color: #FFF;

}

.footer-top__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-top__left-text {
  height: 40px;
  max-width: 229px;
}

.footer-top__social-list {
  padding-left: 1px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-top__social-item {

}
.footer-top__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-top__right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
}
.footer-top__rigth-schedule {
  height: 40px;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;

}
.footer-bottom__year {
}
.footer-bottom__school {
}
.footer-bottom__username {
}